<div class= "container-fluid singup">
<div class= "row">
<i class="fa-light fa-arrow-left col-4"></i>
<%# <%= icon('fa-arrow-left', 'font-awesome')%>
<h5 class="py-3 col-8">Login</h5>
</div>
</div>
<br>

<div class= "container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field my-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>
  <div class="field my-2">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field my-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Log in", class:"submit py-1 px-2"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>