<div class= "container-fluid singup">
<div class= "row">
<p class="py-4 col-3 signinAs"> Sign in as:<%= @author.name %> </p>
<h5 class="py-3 col-5 text-center title">Categories</h5>
<% if user_signed_in? %>
    <div class='col-4 py-3'>
    <%= button_to 'SIGN OUT', destroy_user_session_path, method: :delete, data: {turbo: false}, class: 'btn btn-outline-light' %>
    </div>
<% end %>
</div>
</div>
<br>
<div class='fluid-container text-center'>
    <% @categories.each do |categorie| %>
        <%= link_to category_transactions_path(categorie.id), class: 'row categorieContainer' do %>
            <div class="col-md-2"></div>
            <img src="<%= categorie.icon %>"  class= 'col-4 col-md-3 py-1 img'>
            <div class='col-4 col-md-3  py-3'><%= categorie.name %></div>
            <div class='col-4  col-md-3  py-3'>$<%= categorie.calculate_transaction  %></div>
            <div class="col-md-1"></div>

        <% end %>
    <% end %>
    <br>

    <%= link_to 'Add a new Category', new_category_path, class: 'btn btn-primary' %>
</div>