<div class= "container-fluid singup">
  <div class= "row">
    <p class="col-3 signinAs"><%= link_to "<-", categories_path, class:'link-white link-whiteArrow'%></p>
    <h5 class="py-3 col-5 text-center title">Transaction</h5>
    <% if user_signed_in? %>
      <div class='col-4 py-3'>
        <%= button_to 'SIGN OUT', destroy_user_session_path, method: :delete, data: {turbo: false}, class: 'btn btn-outline-light' %>
      </div>
    <% end %>
  </div>
</div>
<br>

<div class="categorieContainer p-4">
    Total Amount: $<%= @category.calculate_transaction %>
</div>

<div class='fluid-container'>
  <% @payments.each do |transaction| %>
    <div class='row categorieContainer text-center'>
      <div class='col-5 py-3'><%= transaction.name %></div>
      <div class='col-5 py-3'>$<%= transaction.amount %></div>
    </div>
  <% end %>
  <br>
  <div class='row'>
    <div class= "col-3"></div>
    <div class= "col-9">
      <%= link_to 'Add New Transaction', new_category_transaction_path(params[:category_id]), class: 'btn btn-primary' %>
    </div>
    <div class= "col-2"></div>
  </div>
</div>
